*{
    margin: 0;
    padding: 0;

}

body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    
}
p {
    color: hsl(215, 51%, 70%);
}
h2 {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}
.card-section {
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    height: ;
    margin: 0 auto;
    border: 25px solid hsl(216, 50%, 16%);
    border-radius: 15px;
    margin-top: 125px;
}
.card-section img{
    border-radius: 10px;
    margin-bottom: 20px;
}

h2{
    color: white ;
}
h2:hover{
    color:  hsl(178, 100%, 50%);
}

.h2-p{
    padding-bottom: 20px;
}
.name {
    border-top: 1px inset hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0 0 0;
    
}
.name img{
    width: 35px;
    border-radius: 100%;
    border: solid 1px white;
    display: flex;
    margin: 0;
    margin-right: 15px;
}
.info {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    font-weight: 400;
    font-size: 16px;
}
.info div{
    display: flex;
}
.info i{
    padding-right: 5px;
}
.info p{
    font-size: 16px;
}
.eth{
    color: hsl(178, 100%, 50%);
}
span{
    color: white;
}
span:hover{
  
        color:  hsl(178, 100%, 50%);
}
.description{
    font-size: 18px;
    font-weight: 300;
}
.cube-img {
    position: relative;
    background-color: hsl(178, 100%, 50%);
    border-radius: 13px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .icon-div {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .cube-img:hover .image {
    opacity: 0.6;
  }
  
  .cube-img:hover .icon-div {
    opacity: 1;
  }
  